<h1><%= @service.name %></h1>

<%= render "layouts/errors", :object => @review %>

<%= form_for [@service, @review] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author, class: :"form-control" %>
  <br>
  <%= f.label :body %>
  <%= f.text_field :body, class: :"form-control" %>
  <br>
  <p><%= f.submit %></p>
<% end %>
<hr>
<p><%= link_to "back", services_path %></p>
