<h1>New Review for <%= @service.name %></h1>

<%= render "layouts/errors", :object => @review %>

<%= form_for [@service, @review] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author, class: :"form-control" %>

  <%= f.label :body %>
  <%= f.text_field :body, class: :"form-control" %>

  <p><%= f.submit %></p>
<% end %>
