<!DOCTYPE html>
<html>
  <head>
    <title>Photoshoot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <body>
      <div id="wrapper">
    	<header class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
          <div class="container">
            <% if user_signed_in? -%>
            <div id="logo" class="navbar-brand"><%= link_to "Home", root_path%> | <%= link_to 'Services', services_path %>
            </div>
            <p class="navbar-text pull-right">
              <span class="logged">logged in as <strong><%= current_user.email %></strong></span> |
              <%= link_to 'Edit Profile', edit_user_registration_path %> |
              <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
            </p>
            <% else %>
              <p class="navbar-text pull-left">
                <%= link_to 'Home', home_index_path%> | <%= link_to 'Services', services_path %>
              </p>
              <p class="navbar-text pull-right">
                <%= link_to "Sign up", new_user_registration_path %> |
                <%= link_to "Login", new_user_session_path  %>
              </p>
            <% end %>
          </div>
        </div>
      </header>

    	<div id="main_content" class="container">
    		<% flash.each do |name, msg| %>
    			<%= content_tag(:div, msg, class: "alert alert-info") %>
    		<% end %>

    			<div id="content" class="col-md-9 center-block">
    				<%= yield %>
    			</div>
    		</div>


      <div id="footer">
        <p>Grace Photograpy | West Coast | Grace Photography © 2017 all rights reserved.</p>
  		</div>
    </div>
    </body>



  <footer>

  </footer>
</body>
</html>
