<!DOCTYPE html>
<html>
<head>
  <title>Photoshoot</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="wrapper">
    <nav>
      <% if user_signed_in? %>
      <p class="navbar-text pull-left">
        <%= link_to 'Home', root_path, :class => 'navbar-link' %> | <%= link_to 'Services', services_path, :class => 'navbar-link' %>
      </p>
      <p class="navbar-text pull-right">
        <span class="logged">Logged in as</span> <strong><%= current_user.email %></strong>|
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      </p>
      <% else %>
      <p class="navbar-text pull-left">
        <%= link_to 'Home', root_path, :class => 'navbar-link' %> | <%= link_to 'Services', services_path, :class => 'navbar-link' %>
      </p>
      <p class="navbar-text pull-right">
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      </p>
      <% end %>
    </nav>

    <div id="content" class="container alert">
      <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-success") %>
      <% end %>
      <div class="main-content">
        <%= yield %>
      </div>
      <div id="footer">
        <p><em>Grace Photography © 2017. All rights reserved.</em></p>
      </div>
    </div>

  </div>
</body>
</html>
